body {
	margin: 0;
	padding: 0;
}



p, li, h1, h2, h3, h4, h5 {
	cursor: default;
}



.wrapper {
	padding: 0;
	margin: 0;
	min-width: 1024px;
}



.sub-wrapper {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
}



/*HEADER SECTION STARTS*/

header {
	height: 116px;
}



header .sub-wrapper {
	display: flex;
	justify-content: space-between;
}



.logo {
	box-sizing: border-box;
	height: 100%;
}



.logo h2 {
	padding: 0;
	margin: 0;
	font: 36px "FuturaBT-Book";
	color: #EE8129;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



.logo span {
	text-transform: uppercase;
	font-family: "FuturaBT-Bold";
	color: #3070A8;
}



.nav {
	box-sizing: border-box;
	height: 100%;
}



.nav ul {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



.nav > ul > li {
	margin: 0;
	padding: 0;
}



.nav a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	font: 400 14px "Open Sans";
	color: #989898;
	height: 50%;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
	position: relative;
	top: 50%;
	text-align: center;
	transition: all .2s ease-in-out;
}



.nav a:hover {
	color: #3070A8;
	border-bottom: 4px solid #3070A8;
}



/*HEADER SECTION ENDS*/

/*BANNER STARTS*/

.banner {
	background-image: url(../img/banner.png);
	background-size: cover;
	text-align: center;
}



.banner .sub-wrapper {
	padding-top: 150px;
	padding-bottom: 106px;
}



.banner h3 {
	font: 36px "FuturaBT-Book";
	color: #FFFFFF;
	padding: 0;
	margin-bottom: 15px;
}



.banner h2 {
	font: 48px "FuturaBT-Bold";
	color: #FFFFFF;
	text-transform: uppercase;
	word-spacing: 5px;
	padding: 0;
	margin-top: 0;
}



.banner p {
	font: italic 20px Calibri;
	color: #FFFFFF;
	width: 575px;
	margin: 0 auto;
	margin-bottom: 45px;
	text-shadow: 1px 1px #000000;
}



.banner a {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding-top: 18px;
	padding-bottom: 20px;
	text-decoration: none;
	text-transform: uppercase;
	width: 247px;
	height: 59px;
	font: 400 16px "Open Sans";
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, .6);
	transition: all .5s ease;
}



.banner a:hover {
	background-color: rgba(255, 255, 255, .3);
}



/*BANNER BLOCK ENDS*/

/*SERVICE BLOCK STARTS*/

.services .sub-wrapper {
	padding-top: 68px;
}



.services h2 {
	text-transform: uppercase;
	font: bold 30px "Trebuchet MS";
	color: #41525C;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
}



.container {
	display: flex;
	justify-content: space-between;
	text-align: center;
}



.circle {
	width: 140px;
	height: 140px;
	background-color: #3070A8;
	border-radius: 50%;
	box-sizing: border-box;
	margin: 0 auto;
	box-shadow: inset 5px 6px rgba(0, 0, 0, .1);
}



.container .fas {
	color: #FFFFFF;
	font-size: 72px;
	padding-top: 24%;
	padding-bottom: 25%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .03),
	2px 2px rgba(0, 0, 0, .03),
	3px 3px rgba(0, 0, 0, .03),
	4px 4px rgba(0, 0, 0, .03),
	5px 5px rgba(0, 0, 0, .03),
	6px 6px rgba(0, 0, 0, .03),
	7px 7px rgba(0, 0, 0, .03),
	8px 8px rgba(0, 0, 0, .03);
}



.container h3 {
	font: 30px "FuturaBT-Book";
	text-transform: uppercase;
	color: #3070A8;
}



.container p {
	font: 14px "Open Sans";
	color: #999999;
}



.sub-container {
	padding-left: 10px;
	padding-right: 10px;
}



/*SERVICES BLOCK ENDS*/

/*MIDDLE BLOCK STARTS*/

.middle {
	background-image: url(../img/middle-img.png);
	background-size: cover;
}



.text-container {
	width: 681px;
	padding-top: 90px;
	padding-bottom: 80px;
}



.middle h2 {
	font: 26px "FuturaBT-Book";
	text-transform: uppercase;
	color: #EE8129;
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	margin-bottom: 25px;
}



.middle h3 {
	font: italic 19px "Open Sans";
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}



.middle ul {
	color: #9D9D9D;
	padding-left: 30px;
	line-height: 1.8em;
	list-style-type: none;
}



.middle li {
	margin-bottom: 15px;
}



.middle a {
	text-decoration: none;
	color: #9D9D9D;
	font: 14px "Open Sans";
	transition: all .2s ease-in-out;
	position: relative;
}



.middle a:before {
	content: '\2022';
	font-size: 28px;
	position: absolute;
	left: -20px;
	top: -10px;
}



.middle a:hover {
	color: #3070A8;
}



/*MIDDLE SECTION ENDS*/

/*PRICING SECTION STARTS*/

.pricing {
	padding-top: 75px;
	padding-bottom: 90px;
}



.pricing h2 {
	font: 30px "Trebuchet MS";
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 78px;
}



.tag-container {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}



.tag {
	border-radius: 5px;
	/*box-sizing: border-box;*/
	/*border: 4px solid transparent;*/
	width: 300px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	transition: all .1s ease;
}



.tag:hover {
	transform: scale(1.1);
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	margin: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	transition: all .4s ease;
}

.tag:hover .white {
	border: none;
	transition: none;
}

.tag h3 {
	font: 24px "FuturaBT-Bold";
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}



.white {
	border-bottom: 1px solid #E8EAEC;
	border-left: 1px solid #E8EAEC;
	border-right: 1px solid #E8EAEC;
	background-color: #FFFFFF;
	padding-top: 24px;
	padding-bottom: 20px;
}



.white h4 {
	text-align: center;
	text-transform: uppercase;
	font: 24px "FuturaBT-Book";
	color: #000000;
	padding: 0;
	margin: 0;
	margin-bottom: 27px;
}



.white p {
	padding: 0;
	margin: 0;
	font: 72px "FuturaBT-Bold";
	color: #35495A;
	text-align: center;
	letter-spacing: -0.06em;
	margin-bottom: 27px;
}



.white p:before {
	content: "$";
	font-size: 36px;
	vertical-align: top;
	margin-right: 3px;
}



.white p:after {
	content: "Monthly";
	vertical-align: sub;
	font: 18px "FuturaBT-Book";
	letter-spacing: 0;
}



.white ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 259px;
	margin-bottom: 18px;
}



.white li {
	padding-left: 32px;
	font: 400 15px "Calibri";
	color: #888C94;
	padding-top: 10px;
	padding-bottom: 10px;
}



.white li:before {
	content: "\f00c";
	font-family: FontAwesome;
	color: #97BE09;
	margin-right: 24px;
}



.white li:nth-child(odd) {
	background-color: #EDF5FD;
}



.white li:nth-child(even) {
	background-color: #F5F5F6;
}



.white a {
	display: block;
	width: 252px;
	height: 41px;
	text-decoration: none;
	background-color: #000000;
	margin: 0 auto;
	border-radius: 4px;
	text-align: center;
	box-sizing: border-box;
	font: 14px "Open Sans";
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 11px;
	padding-bottom: 11px;
}



.aqua, .aqua a {
	background-color: #2BC2D5;
}



.orange, .orange a {
	background-color: #EE8129;
}



.green, .green a {
	background-color: #00B89A;
}



.orange a:hover {
	background-color: #FD9641;
	transition: all .5s ease;
}



.green a:hover {
	background-color: #00DBB7;
	transition: all .5s ease
}



.aqua a:hover {
	background-color: #33E7FF;
	transition: all .5s ease
}



/*PRICNING BLOCK ENDS*/

/*TESTIMONIALS BLOCK STARTS*/

.testimonials {
	background-image: url(../img/testimonials.png);
	background-size: cover;
	padding-top: 58px;
	padding-bottom: 80px;
}



.testimonials h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	font: 40px "FuturaBT-Bold";
	color: #3170A8;
	margin-bottom: 51px;
}



.orange-text {
	font-family: FuturaBT-Book;
	color: #EE8129;
}



.sub-test {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}



.review {
	display: flex;
	width: 45%;
	justify-content: space-between;
	margin-bottom: 40px;
}



.photo img {
	width: 107px;
	height: 106px;
}



.feed {
	background-color: #F7F7F7;
	margin-left: 30px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}



.feed:before {
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #F7F7F7;
	position: absolute;
	left: -15px;
	top: 45px;
}



.feed-head {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dotted;
	padding-bottom: 10px;
}



.feed-head p {
	font: 600 italic 13px "Open Sans";
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	color: #3070A8;
	margin-top: 15px;
}



.name:before {
	content: "-";
}



.feedback {
	font: 13px "Open Sans";
	color: #666666;
}



/*TESTIMONIALS ENDS HERE*/

/*CONTACT STARTS*/

.contact .sub-wrapper {
	display: flex;
	justify-content: center;
}



.map {
	background-image: url(../img/map.png);
	background-size: cover;
	width: 50%;
}



.address {
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	position: relative;
}



.address p {
	font: 400 14px "Open Sans";
	color: #707070;
	position: relative;
}



.address .company-name:before {
	content: "\f041";
	font-family: FontAwesome;
	font-size: 20px;
	position: absolute;
	left: -23px;
}



.address .phone:before {
	content: "\f10b";
	font-family: FontAwesome;
	font-size: 20px;
	position: absolute;
	left: -20px;
}



.address .mail:before {
	content: "\f0e0";
	font-family: FontAwesome;
	font-size: 20px;
	position: absolute;
	left: -25px;
}



.social-buttons {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	left: -25px;
}



.fab {
	display: inline-block;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 26px;
	box-sizing: border-box;
	margin: 0;
	position: relative;
	left: -14px;
	margin-right: 22px;
}



.fa-facebook-f {
	background-color: #4967A9;
	margin-left: 15px;
}



.fa-twitter {
	background-color: #1AB2E8;
}



.fa-linkedin-in {
	background-color: #007AB9;
}



/*CONTACT ENDS*/

/*FOOTER STARTS*/

footer {
	height: 110px;
	background-color: #3070A8;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
}



footer p {
	font: 14px "Open Sans";
	color: #FFFFFF;
}



#bold {
	font-weight: 600;
}



#black {
	color: #000000;
	font-weight: 600;
}